@model Rocky.Models.Character

<form method="post" asp-action="PostDelete">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">
                Delete Category
            </h2>
            <p class="text-info p-2">Are you sure?</p>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" disabled />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" name="btnDelete" value="Delete" class="btn btn-outline-danger w-100" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>